////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////
.editrevert {
    &.inspire-tree {
        .icon-folder-open::after,
        .icon-folder::after {
            background: $icon-revert-svg;
            background-repeat: no-repeat;
            content: " ";
            cursor: pointer;
            position: absolute;
            right: 5px;
            z-index: 3;
            transform: translateY(-50%);
            vertical-align: top;
            top: 45%;
        }

        .title-wrap:hover {
            .icon-folder-open::after,
            .icon-folder::after {
                background: $icon-revert-svg-hover no-repeat center center;
                //background: encodeSVG("%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23FFFFFF' stroke-width='3.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2.5 2v6h6M2.66 15.57a10 10 0 1 0 .57-8.38'/%3E%3C/svg%3E") no-repeat center center
            }
        }

        .title {
            padding-right: 25px;
        }

        & > ol {
            & > li[type="markInactived"],
            & > li[norevert] {
                & > div {
                    & > a.title.icon {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
